/* Colors */
$white: #fefefe;
$black: #000000;
$mint-green: #8efe8d;
$charleston-green: #272927;
$smoky-black: #121212;

// New COlors

$generated-White: #dbf9d8;
$generated-White2: #fefae0;
$generated-Green: #8eb98b;
$generated-Grey: #a1af9f;
$generated-Grey2: #adad89;
$generated-Greyblack: #3e4a3d;
$generated-orange: #ffda84;
$generated-orange2: #ffa247;

// Fonts

$font-Mesiri: "El Messiri", sans-serif;
$font-Epilogue: "Epilogue", sans-serif;
$font-Lexend: "Lexend", sans-serif;
$font-Jost: "Jost", sans-serif;
